@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-checkerboard {
        background-image: 
            linear-gradient(45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%),
            linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.05) 75%),
            linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.05) 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    }

    .glow {
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.1);
    }

    .glow-sm {
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.07);
    }

    .glow-text {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    
    .popout {
        @apply transform transition-transform duration-500 hover:scale-105;
    }
    
    .popout-110 {
        @apply transform transition-transform duration-500 hover:scale-110;
    }

    .popout-125 {
        @apply transform transition-transform duration-500 hover:scale-125;
    }
}

