@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes move-grid {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 2vw 2vw;
        }
    }

    .bg-gridnet {
        background-image: 
            linear-gradient(to right, var(--grid-line-color, rgba(255, 255, 255, 0.4)) 1px, transparent 1px),
            linear-gradient(to bottom, var(--grid-line-color, rgba(255, 255, 255, 0.4)) 1px, transparent 1px);
        background-size: 2vw 2vw;
        animation: move-grid 4s linear infinite;
    }

    .glow {
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.1);
    }

    .glow-sm {
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.07);
    }

    .glow-text {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    
    .popout {
        @apply transform transition-transform duration-500 hover:scale-105;
    }
    
    .popout-110 {
        @apply transform transition-transform duration-500 hover:scale-110;
    }

    .popout-125 {
        @apply transform transition-transform duration-500 hover:scale-125;
    }
}

